body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
  height: 100%;
  overflow-x: hidden;
  
}

body{
  padding-top: 80px;
}

.container {
  background-color: #fffbe6;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #c0eba6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures the header stays on top of other elements */
}

.logo img {
  height: 50px;
}
nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: #004d09;
  text-decoration: none;
  font-size: 16px;
}
.active {
  border-bottom: 2px solid #fffbe6;
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  flex-grow: 1;
  height: 100vh;
}
.text-content {
  max-width: 50%;
  padding-left: 20px;
}

.text-content h1 {
  color: #004d09;
  font-size: 48px;
  margin-bottom: 20px;
  text-align: left;
}
p {
  color: #004d09;
  font-size: 18px;
  margin-bottom: 30px;
}
.cta-button {
  background-color: #006400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.image-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.robot-hand {
  width: 100%;
  max-width: 800px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font-weight: 400;
  }
  nav {
    margin-top: 20px;
    width: 100%;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul li {
    margin: 10px 0;
  }
  #home {
    flex-direction: column;
    text-align: center;
  }
  .text-content {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .text-content h1 {
    font-size: 26px;
    color: #004d09;
    margin-bottom: 10px;
    text-align: center;
  }

  .image-content {
    justify-content: center;
    margin: 0;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 720px) {
  .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
    position: fixed;
  }

  header {
    position: static;
    width: 100%;
  }

  .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  #home {
    padding: 20px 0;
  }

  nav {
    display: none;
  }
  nav.active {
    display: block;
  }
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
  }

  .text-content {
    max-width: 80%;
  }
}
/* Services */

.services_banner {
  background-image: url(images/services_banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.services_container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 100px;
}


.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.service-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}
.service-card:hover {
  transform: translateY(-5px);
}
.service-icon {
  font-size: 48px;
  margin-bottom: 15px;
  color: #006400;
}
.service-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #006400;
}
.service-description {
  margin-bottom: 15px;
}
.apply-btn {
  background-color: #006400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.apply-btn:hover {
  background-color: #004d00;
}
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .mission_container {
    background-color: #c0eba6;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
}

/* About us Page */

.about_ {
  max-width: 100%;
  margin: 0 auto;
  text-align: justify;
  
}

.about-content{
  display: flex;
  padding: 60px 40px;
  gap: 20px;
}

iframe{
  flex: 1;
  border-radius: 10px;
}

.about_{
  flex: 1;
}

h1{
  font-size: 2.5rem;
}

.about_image h1{
  color: #c0eba6;
  text-transform:capitalize;
  
}

.about_image, .services_banner {
  width: 100%;
  height: 300px;
  background: linear-gradient(
      to bottom right,
      #1b1b1bb3,
      #000000b1
    ),
    url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center/cover;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #c0eba6;
}

/* Footer */

.footer {
  background-color: #004d00;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 40px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #b3b3b3;
}
.nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #b3b3b3;
}
.copyright {
  text-align: center;
  font-size: 12px;
  color: #b3b3b3;
}

@media (max-width: 600px) {
  .social-icons {
    gap: 15px;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .mission_container {
    background-color: #c0eba6;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
}

/* Mission, vision and goals */

.mission_container {
  background-color: #c0eba6;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 100px;
}

.mission_container h2,
p {
  color: #004d00;
}

.mvv-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 20px;
}
.mvv-item {
  flex-basis: calc(33.333% - 20px);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}
.icon {
  font-size: 48px;
  margin-bottom: 15px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title span {
  color: #004d00;
}
.description {
  font-size: 14px;
  color: #004d00;
  line-height: 1.5;
}
.divider {
  width: 50px;
  height: 2px;
  background-color: #004d00;
  margin: 15px auto;
}
@media (max-width: 768px) {
  .mvv-item {
    flex-basis: 100%;
  }

  .mvv-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    gap: 20px;
  }

  .mission_container {
    background-color: #c0eba6;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
}

/* Why us */

#why-us {
  width: 100%;
  background: linear-gradient(
      to bottom right,
      #dffdcdb3,
      #c0eba6d5
    ),
    url("https://images.pexels.com/photos/934062/pexels-photo-934062.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat center center/cover;
 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;

  text-align: center;
}

.why-chose-us {
  width: 95%;
  padding: 40px;
}
h2 {
  font-size: 36px;
  color: #004d00;
  margin-bottom: 20px;
  display: inline-block;
}

/* h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #090909;
} */

.content {
  display: flex;
  gap: 40px;
}
.column {
  flex: 1;
  height: auto;
  text-align: justify;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}


/* Stakeholder */

#stakeholder-content{
  width: 100%;
   background-color:#ffffff51;
   text-align: center;
}

.stakeholders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  padding: 20px 40px;
  
}

.stakeholder-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stakeholder-logo img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .stakeholder-logo {
    width: 80px;
    height: 80px;
  }
}

/* Contact us */

